extends layout

block content

    section.sidenav
      div.sidenav
        div.profile
          img(src="/images/bot_user.png", height="50" width="50", alt="no picture") 
          a.sidenav--a #{userName}
          a.sidenav--a--logout(href="/bots") Zu den Bots
          a.sidenav--a--logout(href="/logout") logout
          
        br
        div.sidenav--border--buttom 
        br
        div.bots
          each bots in bot_query  
            - var url = bots.image_path 
            div.botdocument.clickable
              img.sidenav--img(src=url alt="no picture" id = 'img_'+bots._id )
              p.show_name.hidden #{bots.name}
              p.show_description.hidden #{bots.description}
              p.show_image_path.hidden #{bots.image_path} 
              p.show_workspace_id.hidden #{bots.workspace_id}
              p.show_iam_apikey.hidden #{bots.iam_apikey}
              p.show_document_id.hidden #{bots._id}
              p.show_is_public.hidden #{bots.isPublic}
            
        div.add(onclick="showAdd()")
          a.sidenav--add +

    section
      div(id = "h1--admin-welcome")
        div.h1--admin-welcome
          h1.animated.zoomIn Herzlich willkommen in deinem Dashboard!

    section
      div(id="updateDIV").hidden
        //-Update des Image-Upload
        form.form--admin-imgupload(action='/update/imgupload' enctype='multipart/form-data' method='post').imgupload
          img.show_pic(id = "imgupload" height="auto" width="200").img--bot-admin
          input(type='file' id='upload' name='upload' onchange="this.form.submit()").hidden
          input(type = "text" id = "_id" name = "_id").hidden 

        //-Update der Credentials
        form.form--admin(action='/update' method='post').update
          input.updateName(type='text' id='name' name='name' placeholder = "Name").form--input-botname
          br
          input.updateDescription(type='textarea' id='description' name='description' rows="10" cols="30").form--input-botdescription
          br
          input.updateWorkspaceID(type='text' id='workspace_id' name='workspace_id').form--input-botworkspace_id
          input.updateIamApikey(type='text' id='iam_apikey' name='iam_apikey').form--input-botiam_apikey
          br
          //- button.updateIsPublic(type = "button" id='isPublic' name='isPublic').form--input-botpublic verborgen
          input.updateIsPublic(type = "text" id="isPublic" name="isPublic")
          br
          input.showDocumentID(type = "text" id = "_id" name = "_id").hidden 
          button(type='submit').form--button-bot Bot updaten

        //-Delete-Section des Bots
        form(action='/delete' method='post').delete
          input.updateDocumentID(type = "text" id = "_idBot" name = "_idBot").hidden 
          p(id="deleteBotButton").form--delete-bot Bot löschen
          button(type='submit' id="confirmButton" ).form--finaldelete-bot.hidden Erneut klicken zum Bestätigen

          

    section
      div.hidden(id = "addDIV")
        form.form--admin-imgupload(action='/update/imgupload' enctype='multipart/form-data' method='post').imgupload
            img.img--bot-admin(id = "imgupload" height="auto" width="200" src ="/images/bot_login.png").imgClicked
            input(type='file' id='upload' name='upload' onchange="this.form.submit()").hidden
        form.form--admin(action='/admin/newbot'  method='post')
          input(type='text' id='name' name='name' placeholder = "Name" ).form--input-addname 
          input(type='text' id='description' name='description' placeholder = "Description").form--input-adddescription
          input(type='text' id='workspace_id' name='workspace_id' placeholder = "Workspace-ID").form--input-addworkspace_id
          input(type='text' id='iam_apikey' name='iam_apikey' placeholder = "IAM_Apikey" ).form--input-addiam_apikey
          div.input
                select(id='isPublic' name='isPublic')
                  option(id='isPublic' value='true') öffentlich
                  option(id='isPublic' value='false') verborgen
          button(type='submit').form--button-bot Hinzufügen

            
      

    script.

      function showAdd() {
        $("#addDIV").removeClass("hidden");
        $('#h1--admin-welcome').addClass('hidden');
        $('#updateDIV').addClass('hidden');
      }     

      $('#imgupload').click(function(){
        $('#upload').click();
      });

      if ($("#isPublic").val() === "true") {
          $("#isPublic").css({ 'background-color': '#9c3939', 'color': 'white' });
        }
      else if ($("#isPublic").val() === "false") { 
        $("#isPublic").css({ 'background-color': '#47dec6', 'color': 'white' });
        }

      $("#isPublic").click(function() {
        var fired_button = $(this).val();
        if (fired_button === "true") {
          $("#isPublic").prop('value', 'false');
          console.log(fired_button);
          $("#isPublic").text("verborgen");
          console.log("verborgen");
          $("#isPublic").css({ 'background-color': '#9c3939', 'color': 'white' });
        }
        else if (fired_button === "false") { 
          $("#isPublic").prop('value', 'true');
          $("#isPublic").text("öffentlich");
          console.log("öffentlich");
          $("#isPublic").css({ 'background-color': '#47dec6', 'color': 'white' });
          }
        else {
          $("#isPublic").prop('value', 'false');
          $("#isPublic").text("verborgen");
          console.log("verborgen");
          $("#isPublic").css({'background-color': '#9c3939', 'color': 'white' });
        }
        });