extends layout

block content

    section.profile
      h2 Hallo #{userName}!
      a(href="/logout") logout
    section.insert
      h2 Neuen Bot hinterlegen
        br
        form(action='/admin/newbot'  method='post').insert
          div.input
            label(for='name') Name
            br
            input(type='text' id='name' name='name').input

          div.input
            label(for='description') Beschreibung
            br
            input(type='text' id='description' name='description').input

          div.input
            label(for='workspace_id') Workspace ID
            br
            input(type='text' id='workspace_id' name='workspace_id').input

          div.input
            label(for='iam_apikey') apikey
            br
            input(type='text' id='iam_apikey' name='iam_apikey').input

            br
            button(type='submit') insert


    section.show
      h2 Bots in der Datenbank
        br
        each bots in bot_query
            div.botdocument.clickable
              p.show_name #{bots.name}
              p.show_description #{bots.description}
              p.show_image_path #{bots.image_path} 
              p.show_workspace_id.hidden #{bots.workspace_id}
              p.show_iam_apikey.hidden #{bots.iam_apikey}
              p.show_document_id.hidden #{bots._id} 


    section.update
          h2 Bot updaten
            br
            form(action='/update' method='post').update
              div.input
                label(for='name') Name
                br
                input.updateName(type='text' id='name' name='name').input

              div.input
                label(for='description') Beschreibung
                br
                input.updateDescription(type='text' id='description' name='description').input

              div.input
                label(for='workspace_id') Workspace ID
                br
                input.updateWorkspaceID(type='text' id='workspace_id' name='workspace_id').input

              div.input
                label(for='iam_apikey') apikey
                br
                input.updateIamApikey(type='text' id='iam_apikey' name='iam_apikey').input
              
              div.input
                label(for='image_upload') Profilbild
                br
                input(type='file' id='upload' name='upload').input
              
              div.input
                select(id='isPublic' name='isPublic')
                  option(id='isPublic' value='true') öffentlich
                  option(id='isPublic' value='false') verborgen

              div.input.hidden
                label(for='_id') Document ID
                br
                input.showDocumentID(type='text' id='_id' name='_id').input
                
              br
              button(type='submit') update
            

    section.delete
          h2 Bot löschen
            br
            form(action='/delete' method='post').delete
              div.delete
              label(for='confirm') Ja, ich will.
              input.confirmTick(type='checkbox' id='confirm' name='confirm').delete
              br
              button(type='submit') delete
        
